<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384- Zenh87qX5ĩnK2ĩl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<title>Document</title>
<style>
{
 background-color:#0059ff;
}
body {
background-image: linear-gradient(#FFFFFF, rgb(255, 122, 89));
}
</style>

</head>

<body>
 
<div class="card text-center">

<div class="card-header">

<ul class="nav nav-tabs card-header-tabs">

<li class="nav-item">

<a class="nav-link" aria-current="true" href="home.html" style="font-size: 24px;">Home</a>
</li>

<li class="nav-item">

<a class="nav-link active" href="intro.html" style="font-size: 24px;">Introduction</a>

</li>

<li class="nav-item">

<a class="nav-link" href="upload.html" style="font-size: 24px;">Upload</a>

</li>

</ul>
 
<h4 style="float: right;">AI based Natural Disaster Intensity and Analysis</h4>

</div>

</div>

<h5 style="padding: 60px; margin: 60px; word-spacing: 5px; text-align: left ;line-height: 1.5;">
Indonesia, japan, India and the United States are the countries which is world most affected by natural disasters.
Natural disasters have the potential to wreck and even end the lives of those people, who stand in their way.<br>However,whether or not you are likely to be
affected by a natural disaster dramatically depends on where in the world you live, The objective of the project is to human build a web application to detect the type of disaster.The input
is taken from the in-built webcam, which in turn is given to the pre-trained model. The model predicts the type of disaster and displayed on UI.

<br><br><br><h1>Presented by team members</h1><center><h4>Vinay kumar,Jagadesh,Prakesh</h4></center>.
</h5>
</body>
</html>